{% if item.value.network.match is defined %}
[Match]
{% for option, value in item.value.network.match.items() %}
{% if option in network_match_valid %}
{{ option }}={{value }}
{% endif %}
{% endfor %}
{% endif %}

{% if item.value.network.link is defined %}
[Link]
{% for option, value in item.value.network.link.items() %}
{% if option in network_link_valid %}
{{ option }}={{value }}
{% endif %}
{% endfor %}
{% endif %}

{% if item.value.network.network is defined %}
[Network]
{% for option, value in item.value.network.network.items() %}
{% if option in network_network_valid %}
{{ option }}={{ value }}
{% endif %}
{% endfor %}
{% endif %}

{% if item.value.network.address is defined %}
[Address]
{% for option, value in item.value.network.address.items() %}
{% if option in network_address_valid %}
{{ option }}={{ value }}
{% endif %}
{% endfor %}
{% endif %}

{% if item.value.network.route is defined %}
[Route]
{% for option, value in item.value.network.route.items() %}
{% if option in network_route_valid %}
{{ option }}={{ value }}
{% endif %}
{% endfor %}
{% endif %}

{% if item.value.network.dhcp is defined %}
[DHCP]
{% for option, value in item.value.network.dhcp.items() %}
{% if option in network_dhcp_valid %}
{{ option }}={{ value }}
{% endif %}
{% endfor %}
{% endif %}
